<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @portafolio.titulo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @portafolio.descripcion %>
</p>

<p>
  <strong>User:</strong>
  <%= @portafolio.user.name %>
</p>


